[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pypdf = "*"
aiofiles = "*"
python-multipart = "*"
transformers = "==4.42.4"
qdrant-client = "*"
ipykernel = "*"
fastembed = "*"
fastapi = "*"
streamlit = "*"
numpy = "==1.24.4"
openai = "*"

[requires]
python_version = "3.10"
