[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
tensorflow = "==2.14.0"
uvicorn = "*"
pillow = "*"
python-multipart = "*"
openai = "*"
torch = "*"
transformers = "==4.42.4"
accelerate = "*"
soundfile = "*"

[dev-packages]
tensorflow-macos = "*"
tensorflow-metal = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.14"
